
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    color: #333; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #ff2800;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-photo {
    width: 200px;
    height: auto;
    border-radius: 10px;
}


main {
    display: flex;
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: auto; 
}


.intro {
    flex: 2;
    text-align: center;
    padding-right: 20px;
}

.intro img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 10px; 
}

.intro p {
    font-size: 1.2em; 
    margin-top: 20px;
}


.pilot-scores {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pilot-scores h2 {
    text-align: center;
}

.pilot-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.pilot {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pilot img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.pilot-info {
    font-size: 1em;
}

.pilot-info h3 {
    margin: 0;
    margin-bottom: 5px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
